.progress {
  height: auto;
  margin-top: 12px;
}

.card-group {
  margin-bottom: 30px;
}

.card-group .card {
  margin: 5px;
  border-top: 4px solid #1976d2;
}

.table-condensed {
  color: black;
}

.table-condensed td {
  font-size: 1.2em;
  color: white;
}
