.flexpelayanan {
  display: flex;
  padding: 2px;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexpelayanan > div {
  padding: 10px;
  margin: 5px;
  margin-left: -2px;
}
.flexpelayanan > .boxpelayanan {
  background-color: rgb(238, 238, 238);
  width: 100%;
  margin-top: 3px;
  border-radius: 30px;
}

.boxriwayat {
  border-radius: 4px;
  padding: 10px;
  background-color: rgb(238, 238, 238);
  width: 100%;
  margin: 4px 2px 0px -3px;
}
.boxriwayat > table > tbody > tr > td {
  word-wrap: break-word;
  font-size: 15px;
}
.boxriwayat > table > tbody > tr > .datatable {
  padding-left: 15px;
  font-weight: 500;
}
.boxsurat {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  width: 188px;
  margin: 4px 2px 0px 0px;
  background-color: rgb(238, 238, 238);
}
.boxsurat:hover {
  background-color: #1976d2;
  color: white;
}

/* TABULASI PELAYANAN MEDIS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

.main {
  max-width: 100%;
  border: 1px dashed #1976d2;
  border-radius: 30px;
  padding: 15px;
}

.main > section {
  margin-top: 12px;
  border-radius: 10px;
  display: none;
  padding: 10px 0 10px;
  height: auto;
}

.main input[type="radio"] {
  display: none;
}

.main label {
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  /* padding: 10px 50px 10px 50px; */
  font-weight: 500;
  width: 25%;
  text-align: center;
  /* text-align: center; */
  color: rgb(0, 0, 0);
}

.main label:hover {
  color: rgb(0, 85, 255);
  cursor: pointer;
}

.main input:checked + label {
  color: rgb(0, 0, 0);
  border-radius: 9px;
  border-bottom: 2px solid rgb(0, 85, 255);
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

/* SOAP */
.boxsoap {
  background-color: #1976d2;
  text-align: center;
  color: white;
  max-width: 10em;
  border-radius: 15px 15px 0px 0px;
}
.isisoap {
  background-color: rgb(231, 231, 231);
  /* max-width: 10em; */
  max-width: 10em;
  height: auto;
  padding: 5px;
}
.isisoap > table > tbody > tr > td {
  font-size: 15px;
  font-weight: 400;
  padding: 4px;
}
td input[type="number"] {
  width: 100%;
  border-radius: 5px;
}

td input:focus[type="number"] {
  background-color: rgb(107, 187, 245);
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
td select {
  max-width: 150px;
}

/* FLEX UNTUK SUBJEKTIF ANALISA OBJEKTIF DAN TINDAKAN */
.rowsoap {
  margin: 6px 0px 0px 0px;
  border-radius: 5px;
}

.rowsoap > .legendtitle {
  background-color: #1976d2;
  color: white;
  border-radius: 10px 10px 0 0;
  max-width: 10em;
  text-align: center;
}

.rowsoap > .legendtitle1 {
  background-color: #1976d2;
  color: white;
  margin-left: -1px;
  margin-top: 12px;
  height: 40px;
  line-height: 40px;
  font-: 25px;
  border-radius: 10px 10px 0 0;
  /* max-width: 10em; */
  text-align: center;
}
.textarea {
  width: 100%;
  border-radius: 0 6px 6px 6px;
  border: 1px solid #1976d2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  padding: 5px 8px;
  resize: none;
  transition: background-color 0.2s ease 0s;
  background-color: white;
}

.textarea:focus {
  background: none repeat scroll 0 0 rgba(21, 120, 190, 0.748);
  color: white;
  outline-width: 0;
}

.maxrow {
  padding: 0.5em;
  background-color: #1976d2;
  color: white;
  width: 100%;
  border-radius: 10px;
  max-height: 3.4em;
}
.maxrow > div > span {
  padding: 5px !important;
}

.maxrow > div > input[type="text"] {
  width: 100%;
  height: 30px;
  border-radius: 3px;
}
.maxrow div input:focus[type="text"] {
  border-radius: 3px;
  border: 1px solid #ffffff !important;
  width: 80%;
  max-width: 80%;
  background: none repeat scroll 0 0 rgba(21, 120, 190, 0.748);
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.soap .float-right {
  float: right;
}

@media screen and (max-width: 400px) {
  .pencariansoap {
    width: 2em;
    border-radius: 10px;
  }
}

/* TABEL RESEP OBAT */
.cell input[type="number"] {
  width: 50px;
  border-radius: 5px;
  border: 1px solid #1976d2;
  line-height: 2.2em;
}
.cell input[type="text"] {
  border-radius: 5px;
  border: 1px solid #1976d2;
  line-height: 2.2em;
}
.cell input:focus {
  background-color: rgb(107, 187, 245);
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row1 {
  display: table-row;
  background: rgb(211, 212, 212);
}
.row1:nth-of-type(odd) {
  background: rgb(233, 235, 235);
}
.row1.header {
  background-color: #1976d2 !important;
  font-weight: 00;
  color: white;
  text-align: center;
  font-size: 15px;
}
.cell {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 20px;
  display: table-cell;
  font-size: 12px;
}
.row1:hover {
  background-color: rgb(200, 212, 212);
}
/* autocomplete */
.no-suggestions {
  background-color: #fff;
  color: #1c70c8;
}

.suggestions {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  font-size: 12px;
  max-height: 400px;
  overflow-y: auto;
  padding-left: 0;
  width: 20.5em;
  background-color: #1c70c8;
  color: #fff;
  position: absolute;
  z-index: 1;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestions li:hover {
  background-color: #fff;
  color: #1c70c8;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

@media screen and (max-width: 580px) {
  .row1 {
    display: block;
  }

  .row1.header {
    padding: 0;
    height: 6px;
  }
  .row1.header .cell {
    display: none;
  }
  .row1 .cell {
    margin-bottom: 10px;
  }
  .row1 .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 90px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}
