.flexpelayanan {
  display: flex;
  padding: 2px;
  flex-direction: row;
  margin-left: -1em;
  flex-wrap: wrap;
}

.flexpelayanan > div {
  padding: 10px;
  margin: 5px;
  margin-left: -2px;
}
.flexpelayanan > .boxpelayanan {
  background-color: rgb(238, 238, 238);
  width: 99%;
  margin-top: 3px;
  border-radius: 30px;
}

.boxsurat {
  border-radius: 4px;
  text-align: center;
  width: 10em;
  margin-left: auto;
  background-color: rgb(238, 238, 238);
}
.boxsurat1:hover {
  background-color: #1976d2;
  color: white;
}
.boxsurat:hover {
  background-color: #1976d2;
  color: white;
}
.boxsurat1 {
  border-radius: 4px;
  width: 10em;
  text-align: center;
  margin-left: auto;
  background-color: rgb(238, 238, 238);
}

.boxriwayat {
  border-radius: 4px;
  background-color: rgb(238, 238, 238);
  height: 8em;
  width: 52em;
}
.boxriwayat > table > tbody > tr > td {
  font-size: 15px;
}
.boxriwayat > table > tbody > tr > .datatable {
  padding-left: 15px;
  font-weight: 500;
}

/* TABULASI PELAYANAN MEDIS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

.main {
  min-width: 320px;
  max-width: 100%;
  border: 1px dashed #1976d2;
  border-radius: 30px;
}

.main > section {
  margin-top: 12px;
  border-radius: 10px;
  display: none;
  padding: 10px 0 10px;
  height: auto;
}

.main > input {
  display: none;
}

.main label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 500;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main label:hover {
  color: rgb(0, 85, 255);
  cursor: pointer;
}

.main input:checked + label {
  color: rgb(0, 0, 0);
  border-radius: 9px;
  border-bottom: 2px solid rgb(0, 85, 255);
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

/* SOAP */
.soaps {
  margin: 1px;
}
.boxsoap {
  background-color: #1976d2;
  text-align: center;
  color: white;
  max-width: 10em;
  border-radius: 15px 15px 0px 0px;
}
.isisoap {
  background-color: rgb(231, 231, 231);
  max-width: 10em;
  height: auto;
  padding: 5px;
}
.isisoap > table > tbody > tr > td {
  font-size: 15px;
  font-weight: 400;
  padding: 4px;
}
td input[type="number"] {
  width: 60px;
  max-width: 60px;
  border-radius: 5px;
}

td input:focus[type="number"] {
  background-color: rgb(107, 187, 245);
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.pencariansoap {
  background-color: #1976d2;
  width: 52em;
  border-radius: 10px;
  color: white;
  padding: 2px;
}

.pencariansoap input[type="text"] {
  height: 30px;
  width: 80%;
  border-radius: 3px;
  margin-left: 10px;
}

/* SOAP TABLE RESPONSIVE */
.cell input[type="number"] {
  width: 80px;
  background-color: #b2b6bb;
  border-radius: 2px;
  border: 1px solid #1976d2;
}
.table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row1 {
  display: table-row;
  background: rgb(211, 212, 212);
}
.row1:nth-of-type(odd) {
  background: #ffffff;
}
.row1.header {
  font-weight: 00;
  color: #000000;
}
.cell {
  padding: 15px 20px;
  display: table-cell;
}

@media screen and (max-width: 580px) {
  .row1 {
    /* padding: 14px 0 7px; */
    display: block;
  }

  .row1.header {
    padding: 0;
    height: 6px;
  }
  .row1.header .cell {
    display: none;
  }
  .row1 .cell {
    margin-bottom: 10px;
  }
  .row1 .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 90px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}

/* FLEX UNTUK SUBJEKTIF ANALISA OBJEKTIF DAN TINDAKAN */
.rowsoap {
  margin: 6px;
  border-radius: 5px;
}

.rowsoap > .legendtitle {
  background-color: #1976d2;
  color: white;
  border-radius: 10px 10px 0 0;
  max-width: 10em;
  text-align: center;
}

.rowsoap > .legendtitle1 {
  background-color: #1976d2;
  color: white;
  margin-left: -1px;
  margin-top: 12px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  border-radius: 10px 10px 0 0;
  /* max-width: 10em; */
  text-align: center;
}
.textarea {
  max-width: 25em;
  width: 24.1em;
  border-radius: 0 6px 6px 6px;
  border: 1px solid #1976d2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  padding: 5px 8px;
  resize: none;
  transition: background-color 0.2s ease 0s;
  background-color: white;
}

.textarea:focus {
  background: none repeat scroll 0 0 rgba(21, 120, 190, 0.748);
  color: white;
  outline-width: 0;
}

.diagnosa {
  background-color: #1976d2;
  color: white;
  width: 94%;
  border-radius: 10px;
  padding: 0 10px;
  height: 2.5em;
  line-height: 2.5em;
}

.diagnosa input[type="text"] {
  max-width: 80%;
  height: 30px;
  width: 70%;
  border-radius: 3px;
  margin-left: 10px;
}
.diagnosa input:focus[type="text"] {
  border: 1px solid #ffffff;
  background: none repeat scroll 0 0 rgba(21, 120, 190, 0.748);
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* //TABULASI APOTEK */

.float-right {
  float: right;
  width: 300px;
  margin-left: -200px;
}
@media screen and (min-width: 450px) and (max-width: 991px) {
  .pencariansoap {
    margin-top: 12px;
    width: 26em;
    border-radius: 10px;
  }

  .pencariansoap input[type="text"] {
    height: 30px;
    width: 70%;
    border-radius: 3px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .pencariansoap {
    width: 2em;
    border-radius: 10px;
  }
}
