.tree-menu {
  font-size: 15px;
  /* line-height: 24px; */
  color: #595bd1;
  font-weight: 500;
  overflow: hidden;
}
.tree-menu input[type="checkbox"] {
  display: none;
}
.tree-menu ul {
  margin: 0 0 0 20px;
  display: none;
  position: relative;
}
.tree-menu ul:before {
  content: "";
  position: absolute;
  top: -12px;
  bottom: 12px;
  border-left: 1px rgb(243, 90, 30) dashed;
  left: -20px;
}
.tree-menu label {
  cursor: pointer;
}
.tree-menu input[type="checkbox"]:checked ~ ul {
  display: block;
}
.tree-menu input[type="checkbox"]:checked ~ label {
  color: rgb(230, 108, 59);
}
.tree-menu li {
  list-style: none;
  position: relative;
}

.tree-menu > li > svg {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  padding: 2px;
}

.kotak {
  border-top: 3px solid #595bd1;
  border-bottom: 2px dashed #595bd1;
  border-left: 2px dashed #595bd1;
  border-right: 2px dashed #595bd1;
  border-radius: 10px;
  padding: 4px;
  margin-left: 3rem;
}

.lebar {
  width: 350px;
  height: 33rem;
}
