.progress {
  height: auto;
  margin-top: 12px;
}

.card-group {
  margin-bottom: 30px;
}

.card-group .card {
  margin: 5px;
  border-top: 4px solid #1976d2;
}

.table-condensed {
  color: black;
}

.table-condensed td {
  font-size: 1.2em;
  color: white;
}

.flexpelayanan > .judulhalaman {
  margin-top: -2.2rem;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 2px;
}
.hr3 {
  border: 2px dashed rgb(216, 216, 251);
  margin-top: 2px;
}

#Container {
  width: 100%;
  height: 30em;
}

@media all and (max-width: 400px) {
  #Container {
    width: 400px;
    height: 15em;
    margin-left: -50px;
  }
}
