.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.fontBold {
  font-weight: 500;
}
.container-table {
  display: flex;
  justify-content: space-around;
}

.container-table > table > tr {
  display: flex;
  justify-content: space-between;
}

.container-table > table > tr > th {
  border-style: none;
}
